<%- include("../../views/partials/admin/header") %>
<head>

</head>
<body>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Category</h2>
      </div>
    </div>
    <header class="card-header text-center mb-20">
      <form action="/admin/category/" method="get" class="d-inline">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px">
          <input type="text" class="form-control border-0 rounded-pill mt-3" placeholder="Search categories" name="search"/>
          <button class="btn" type="submit">Search</button>
        </div>
      </form>
    </header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <form method="post" action="/admin/addCategory" onsubmit="return handleFormSubmit(event)">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" required/>
                <div id="name-error" class="error-message"></div>
              </div>
              <div class="mb-4">
                <label class="form-label">Description</label>
                <textarea placeholder="Type here" name="description" class="form-control" id="descriptionId" required></textarea>
                <div id="description-error" class="error-message"></div>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">
                  Create category
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-8 ml-10">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center"></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Offer Price</th>
                    <th>Offer</th>
                    <th>Status</th>
                    <th>List/Unlist</th>
                    <th class="text-start">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <% category.forEach(category => { %>
                    <tr>
                      <td></td>
                      <td class="text-start"><%= category.name %></td>
                      <td class="text-start"><%= category.description %></td>
                      <td></td>
                      <td class="text-start">
                        <button class="btn ash-grey-btn" style="width: 100px">
                          <a href="#" class="text-white">Add Offer</a>
                        </button>
                        <button class="btn ash-grey-btn" style="width: 100px">
                          <a href="#" class="text-white">Remove</a>
                        </button>
                      </td>
                      
                      <td class="text-start">
                        <span class="badge rounded-pill alert-success" style="width: 60px">Listed</span>
                      </td>
                      <td class="text-start">
                        <button class="btn btn-danger" style="width: 70px">
                          <a href="#" class="text-white">Unlist</a>
                        </button>
                      </td>
                      <td class="text-start">
                        <a href="#" class="btn edit-btn">Edit</a>
                      </td>
                      
                    </tr>
                  <% }) %>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination-container text-center mt-4">
      <nav>
        <ul class="pagination justify-content-center">
          <% if(currentPage > 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
            </li>
          <% } %>
    
          <% for(let i = 1; i <= totalPage; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
          <% } %>
    
          <% if(currentPage < totalPage) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
    

<script>


  function validateForm() {
      clearErrorMessage();
      const name = document.getElementById("product_name").value.trim();
      const description = document.getElementById("descriptionId").value.trim();
      let isValid = true;

      if (name === "") {
          displayErrorMessage("name-error", "Please enter a name");
          isValid = false;
      } else if (!/^[a-zA-Z\s]+$/.test(name)) {
          displayErrorMessage("name-error", "Category name should contain only alphabetic characters");
          isValid = false;
      }

      if (description === "") {
          displayErrorMessage("description-error", "Please enter a description");
          isValid = false;
      }

      return isValid;
  }

  function handleFormSubmit(event) {
      event.preventDefault();
      if (!validateForm()) {
          return;
      }

      const name = document.getElementsByName("name")[0].value;
      const description = document.getElementById("descriptionId").value;

      fetch("/admin/addCategory", {
          method: "POST",
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify({ name, description })
      }).then(response => {
          if (!response.ok) {
              return response.json().then(err => {
                  throw new Error(err.error);
              });
          }
          return response.json();
      }).then(data => {
          location.reload();
      }).catch(error => {
          Swal.fire({
              icon: "error",
              title: "Oops",
              text: error.message === "Category already exists" ? "Category already exists" : "An error occurred"
          });
      });
  }

  function displayErrorMessage(elementId, message) {
      var errorElement = document.getElementById(elementId);
      errorElement.innerText = message;
      errorElement.style.display = "block";
  }

  function clearErrorMessage() {
      const errorElements = document.getElementsByClassName("error-message");
      Array.from(errorElements).forEach((element) => {
          element.innerText = "";
          element.style.display = "none";
      });
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<%- include("../../views/partials/admin/footer") %>
